body{
    background-color:beige; 
    color:cornflowerblue;
    font-size:medium
}
p{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
    background-color: blanchedalmond;
    filter: drop-shadow();
}
h5{
border: blue;
border-top-style: solid;
border-right:var(5);
}
header{
    border-bottom: groove;
    border-color: blue;
}