body{
  margin:0;
  box-sizing: border-box;
  height:100%;
}
html{
  height: 100%;
}

.header h1{
  height:50px;
border: 2px solid black;
background-color: rgb(155, 29, 187);
color:white;

padding-top: 16px;
padding-left: 8px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sidebar {

  height:inherit;
  width:250px;
  margin-top: -24px;
  background-color: dodgerblue;
}

.containers{

  width:calc(100% - 250px);
  margin-left: 251px;
  position: absolute;
  top:100px;
  flex-wrap: wrap;
  display: inline-flex;
flex:1 0 auto;
margin-top: -11px;
padding-top: 16px;
padding-left: 8px;
background-color: white;
padding-right:250px;
padding-left: 50px;
margin-right: 250px;

}
.card{
  display: flex;
  height: 300px;
  font-size: 12t;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 350px;
  justify-content: space-around;

  padding-left:8px;
  padding-top:16px;
border: 2px solid whitesmoke;
box-shadow: rgba(169, 169, 169, 0) 5mm solid;
margin-right: 100px;
margin-bottom: 40px;
}


.footer{
  background-color: lightgrey;
  height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.sidebar a:link{
  text-decoration: none;
  color: white;
  font-size: medium;
  

}
.sidebar li{
  font-weight: 800;
  list-style-type: none;
  margin:10px;
  padding-top: 20px;
}
