body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.header{
    background-color: rgb(143, 22, 173);
    color:white;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left:8px;
    display: flex;
 

}

.sidebar{
    display: flex;
flex:1 1 auto;
  width:200px;


background-color: dodgerblue;
border: 2px black solid;
}


.sidebar a:link{
    text-decoration: none;
  
}
.containers{
  top:-120px;
  right: -100px;
position: relative;
display: flex;
flex-wrap: wrap;
justify-content: right;



}

.card{
width:300px;
font-size: 14px;
font-family: sans-serif;
font-weight: 300;
border: 4px solid whitesmoke;
box-shadow:lightgrey;
height:300px;
margin: 20px;
padding: 16px 8px;


}