

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.left{
margin-left:auto -14.15%;
}
.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display:flex;
justify-content: space-around;
}

.menu {
 
  width: 900px;
  display: flex;
  justify-content: space-between;

}
.right{
  justify-content: space-evenly;
  display: flex;
  gap:1rem;

}

 

.header{
display: flex;
align-items: center;
justify-content: space-between;
height:300px;
width:900px;


}
.header-container{
  color: #5995DA;
  background-color: #D6E9FE;

  justify-content: center;
display:flex;
}
.photo-grid-container{
  display: flex;
}