body{
    background-color: grey;
   
}

.header-container{
    display: flex;
    gap:1rem;
}

.modal{

padding:10px 20px;
border-radius: 10px;
    height: 200px;
    width:500px;
    text-align: left;
   
  
   background-color: white;
    font-size: medium; 
    
    
}
.text{
   
}
.header{
    font-weight: 900;
    align-self: center;
    font-size: 18px;
    
}

.icon{
    font-weight: 900;
    font-size: 36px;
    border:  2px rgb(218, 225, 248); 
    width: 35px;
    height: 40px;
padding-left: 12px;
padding-bottom: 2px;
background-color: rgb(218, 225, 248);
color:rgb(27, 122, 211);

border-radius: 50%;

  
    font-family: monospace;
}

.close{
    font-size: 18px;
    font-weight: 900;
    color: slategray;
    width:24px;
    height: 24px;
    background-color:lightgrey;
    border-radius: 50%;
    align-self: center;
 padding-left: 6px;
    box-sizing: border-box;
}

.modal button{
    width:100px;
    height:40px;
    text-align: center;
}
.continue{
    background-color: rgb(48, 71, 202);

   
}
.button-container button{
    border-radius:8px 8px;
}
.continue a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.cancel{
    color:blue;
    background-color: white;
}